* {
    font-family: "JetBrains Mono Nerd Font";
    font-size: 12px;
}

window#waybar {
    background-color: transparent;
}

#workspaces{
    background-color: transparent;
    margin-top: 5px;
    margin-bottom: 5px;
    margin-left: 0px;
    padding-left: 5px;
    padding-right: 5px;
}
#workspaces button{
    box-shadow: rgba(0, 0, 0, 0.116) 2 2 5 2px;
    background-color: #000000;
    border-radius: 30px;
    margin-top: 3px;
    margin-bottom: 3px;
    margin-right: 3px;
    margin-left: 3px;
    padding-right: 9px;
    padding-left : 9px;
    padding-top: 0px;
    padding-bottom : 0px;
    color: 	#ffffff ;
}

#workspaces button.active{
    color: #ee5396;
}

#clock,
#battery,
#cpu,
#memory,
#disk,
#temperature,
#backlight,
#network,
#pulseaudio,
#tray,
#mode,
#idle_inhibitor,
#custom-expand,
#custom-media,
#mpd {
    padding-top: 0px;
    padding-bottom: 0px;
    padding-right: 13px;
    padding-left: 13px;
    border-radius: 30px;
    background-color: #000000;
    color: #ffffff;
    box-shadow: rgba(0, 0, 0, 0.116) 2 2 5 2px;
    margin-top: 8px;
    margin-bottom: 9px;
    margin-right: 5px;
    font-weight : bolder
}

#custom-dunst {
    padding: 0 20px;
    border-radius: 55px;
    background-color: #161616;
    color: 	#ffffff;
    box-shadow: rgba(0, 0, 0, 0.116) 2 2 5 2px;
    margin-top: 10px;
    margin-bottom: 10px;
    margin-right: 15px;
}
