@import url("./colors.css");

* {
    border: none;
    border-radius: 1px;
    font-family: JetBrains Mono Nerd Font;
    font-size: 16px;
    min-height: 0;
}

window#waybar {
    background-color: @mantle;
    color: @text;
}

window#waybar.hidden {
    opacity: 0.2;
}

tooltip {
    background-color: @base;
    border: 1px solid @surface1;
}

tooltip label {
    color: @text;
}

button {
    box-shadow: inset 0 -3px transparent;
    border: none;
    border-radius: 1;
}

button:hover {
    background: inherit;
    box-shadow: inset 0 -3px @text;
}

#workspaces {
    background-color: @base;
    margin: 0 0;
    padding: 0 0 0 0;
    border-radius: 4px;
}

#workspaces button {
    box-shadow: rgba(0, 0, 0, 0.116) 2 2 5 2px;
    padding: 0 6 0 6;
    margin: 2 2 2 2;
    background-color: @mantle;
    color: @yellow;
    border-radius: 4px;
}

#workspaces button:hover {
    box-shadow: inherit;
    text-shadow: inherit;
    background-image: linear-gradient(0deg, @surface1, @mantle);
}

#workspaces button.urgent {
    background-image: linear-gradient(0deg, @red, @mantle);
}

#workspaces button.active {
    background-image: linear-gradient(0deg, @surface1, @mantle);
    color: @red;
}

#mpris,
#custom-weather,
#clock,
#language,
#pulseaudio,
#bluetooth,
#network,
#memory,
#cpu,
#temperature,
#disk,
#custom-kernel,
#idle_inhibitor,
#battery,
#tray {
    padding: 0 10px;
    margin: 5px 1px;
    color: @text;
}

#window {
    margin: 0 4px;
}

.modules-left > widget:first-child > #workspaces {
    margin-left: 0;
}

.modules-right > widget:last-child > #workspaces {
    margin-right: 0;
}

#custom-weather {
    background-color: @teal;
    color: @mantle;
    /* margin-right: 0px; */
}

#custom-kernel {
    background-color: @rosewater;
    color: @mantle;
}

#clock {
    background-color: @green;
    color: @mantle;
}

@keyframes blink {
    to {
        background-color: @mantle;
        color: @text;
    }
}

label:focus {
    background-color: @mantle;
}

#cpu {
    background-color: @mauve;
    color: @mantle;
    min-width: 45px;
}

#memory {
    background-color: @red;
    color: @mantle;
}

#disk {
    background-color: @flamingo;
    color: @mantle;
}

#network {
    background-color: @peach;
    color: @mantle;
}

#network.disconnected {
    background-color: red;
    color: @mantle;
}

#bluetooth {
    background-color: @maroon;
    color: @mantle;
    min-width: 40px;
}

#pulseaudio {
    background-color: @yellow;
    color: @mantle;
}

#pulseaudio.muted {
    background-color: @red;
    color: @mantle;
}

#temperature {
    background-color: @pink;
    color: @mantle;
    min-width: 37px;
}

#temperature.critical {
    background-color: @red;
    color: @mantle;
    min-width: 37px;
}

#battery{
    background-color: @lavender;
    color: @mantle
}

#battery.full {
    background-color: @green;
    color: @crust;
}

#battery.warning {
    background-color: @yellow;
    color: @text;
}

#battery.critical {
    background-color: @red;
    color: @crust;
}

#tray {
    background-color: @overlay0;
    color: @text;
}

#tray > .passive {
    -gtk-icon-effect: dim;
}

#tray > .needs-attention {
    -gtk-icon-effect: highlight;
    background-color: @mantle;
}

#idle_inhibitor {
    background-color: @base;
    color: @text;
    font-family: Inter;
}

#idle_inhibitor.activated {
    background-color: @text;
    color: @base;
}
